html {
  overflow-x: hidden;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: aliceblue;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
:root {
  --mainFont: "Montserrat", sans-serif;
  --secFont:  "Open Sans", sans-serif;

      /* Light text */

--lightroyalblue: #4a90e2;
--backblue:  #f5a623;  
--background:    #292929; 
--back2: #f0f0f0;
--light: #292929; 
}
/* --lightroyalblue: #4a90e2; */
/* --backblue:  #f5a623;   */
/* --background: #27283b;  */
/* --back2: #f0f0f0; */